<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        body{
                background: url("https://i.pinimg.com/originals/3b/f4/99/3bf4992052804cc0cab3227b4feb5234.jpg");
                background-repeat:no-repeat;
                background-size: cover;
        }
    </style>
</head>
<body>
    <h4 style="background-color: yellow">Error: Tidak ada pokemon dengan nama itu!</h4>
    <form action='http://localhost:5000'>
        <input class="yellow btn btn-large waves-effect waves-light"
        type='submit' value='Kembali'>
    </form>
</body>
</html>